* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

:root {
    --pink-color: #ff5555;
    --h1-font: 5.5rem;
    --h2-font: 3.3rem;
    --h3-font: 28px;
    --text-font: 1.2rem;
}

section {
    padding: 100px 5% 80px;
}

/* Header */

header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .7s ease;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 28px 4%;
}


header.sticky {
    padding: 10px 5%;
    background: white;
}

.logo {
    font-size: var(--h3-font);
    font-weight: 800;
    line-height: 52.52px;
    color: var(--pink-color);
    letter-spacing: 2px;
}

header ul {
    display: inline-flex;
}

header ul li a {
    display: inline-block;
    font-size: var(--text-font);
    color: var(--other-color);
    font-weight: 500;
    margin: 0 32px;
    transform: all .6s ease;
}

/* About */

.hero-context {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.hero-img img {
    width: 100%;
    height: auto;
}


.hero-text h1 {
    color: var(--pink-color);
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 117.02px;
    text-align: left;
}

.hero-text p {
    font-size: var(--h3-font);
    font-weight: 400;
    line-height: 42px;
    padding-right: 3rem;
    text-align: left;
    margin-bottom: 2rem;
}

.hero-text a {
    color: var(--pink-color);
    font-size: var(--text-font);
    font-weight: 500;
    border: 2px solid var(--pink-color);
    line-height: 30px;
    padding: 10px 14px;
}

.three-dots {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 0 6%;
}

.dots:nth-child(1) {
    width: 10px;
    height: 10px;
    background: #C4C4C4;
    border-radius: 50%;
}

.dots:nth-child(2) {
    width: 10px;
    height: 10px;
    background: #C4C4C4;
    border-radius: 50%;
}

.dots:nth-child(3) {
    width: 10px;
    height: 10px;
    background: var(--pink-color);
    border-radius: 50%;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    align-items: center;
    grid-gap: 8rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.about-text h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 110px;
    text-align: left;
}

.about-text p {
    font-size: var(--h3-font);
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    margin-bottom: 2rem;
}

.about-text a {
    font-size: var(--text-font);
    font-weight: 500;
    color: var(--pink-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.about-text i {
    margin-left: 5px;
    transition: transform 0.3s;
}

.about-text:hover i {
    transform: translateX(4px);
}

.image-container {

    position: absolute;
}

.image-wrapper {
    position: absolute;
}

.image-wrapper img {
    width: 80%;
    height: auto;
}

/* Services */

.services {
    background: #ff5555;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.services-container {
    display: flex;
    gap: 18rem;
    margin: auto 0;
    justify-content: center;
    align-items: center;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-icon {
    width: 230px;
    height: 230px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: ellipse(50% 50% at 50% 50%);
}

.service-icon img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.service-title {
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

/* News */

.news-container {
    margin: 0 auto;
    padding-inline: 20px;
}

.news-container h2 {
    font-size: var(--h2-font);
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
}

.news-context {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 1rem;
    align-items: center;
    border: 2px solid #C4C4C4;
    padding: 1rem;
    position: relative;
}

.news-img img {
    width: 100%;
    height: auto;
}

.news-content {
    padding-inline: 2rem;
}

.news-content h2 {
    text-align: left;
    font-size: var(--h3-font);
    font-weight: 700;
    color: #333;
    margin-bottom: 2rem;
}

.news-content p {
    font-size: var(--text-font);
    color: #666;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.news-content a {
    font-size: var(--text-font);
    font-weight: 500;
    color: var(--pink-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.news-content a i {
    margin-left: 5px;
    transition: transform 0.3s;
}

.news-content a:hover i {
    transform: translateX(4px);
}

.news-container .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: #FF4A57;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.news-container .arrow.left {
    left: -25px;
}

.news-container .arrow.right {
    right: -25px;
}

/* Stories */
.stories-context {
    max-width: 85%;
    margin: 0 auto;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #fffbfb;
    border: 2px solid #ffe5e5;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(255, 0, 0, 0.1);
}

.stories-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
}

.stories-content h2 {
    font-size: var(--h2-font);
    font-weight: 700;
}

.stories-content p {
    font-size: var(--text-font);
    text-align: left;
    line-height: 1.6;
}

.stories-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
}

.stories-text h4 {
    color: var(--pink-color);
    font-size: 1.7rem;
    font-weight: 800;
}

.stories-text p {
    font-size: 12px;
}

.stories-dots {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #C4C4C4;
}

.dot.active {
    width: 13px;
    height: 13px;
    background: var(--pink-color);
}

/* Contact */

#contact {
    background: url(./assets/img/Rectangle\ 23.png);
    object-fit: cover;
    color: white;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-text h2 {
    font-size: 3rem;
    font-weight: 600;
}

.contact-add h4 {
    font-size: 1.8rem;
}

.contact-add p {
    font-size: 16px;
}

.contact-detail {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.email h4 {
    font-size: 1.8rem;
}

.email p {
    font-size: 16px;
}

.phone h4 {
    font-size: 1.8rem;
}

.phone p {
    font-size: 16px;
}

.contact-time h4 {
    font-size: 1.8rem;
}

.contact-time p {
    font-size: 16px;
}

.contact-time:nth-child(4) span {
    color: var(--pink-color);
}

/* Form Section */

.contact-form {
    background: #000;
    opacity: 0.6;
    padding: 2rem;
}

.contact-form h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

form input {
    color: white;
    background: transparent;
    border-bottom: white;
    outline: none;
    border-bottom: 2px solid #fff;
}

.form-name {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-block: 1rem;
}

.form-msg input {
    width: 100%;
}

input::placeholder {
    color: white;
    opacity: 1;
}

button {
    margin-block: 2rem;
    border: 2px solid var(--pink-color);
    padding: 5px 10px;
    border-radius: 3px;
}